@page
@model WebApplication125.Pages.LoginModel
@{
<<<<<<< HEAD
    ViewData["Title"] = "Login";
}

<h2>🔑 Iniciar Sesión</h2>

<form method="post">
=======
	ViewData["Title"] = "Login";
}

<h2>🔑 Iniciar Sesión</h2>
<form method="post" asp-controller="_UsuarioModel">
>>>>>>> 3e5c4c813a20088bd994b57aafb5b4fee29e5ae3
    <div class="mb-3">
        <label for="Nombre_Usuario" class="form-label">Nombre usuario</label>
        <input type="text"
               class="form-control"
               id="Nombre_Usuario"
               name="Nombre_Usuario"
               placeholder="Ingrese su nombre"
               required />
    </div>

    <div class="mb-3">
        <label for="Contraseña" class="form-label">Contraseña</label>
        <input type="password"
               class="form-control"
               id="Contraseña"
               name="Contraseña"
               placeholder="Ingrese su contraseña"
               required />
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Entrar</button>
    </div>
</form>

@if (!string.IsNullOrEmpty(Model.Mensaje))
{
    <div class="alert alert-danger alert-dismissible fade show"
         role="alert">
        <button type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"></button>
        <strong>Mensaje de error: </strong> @Model.Mensaje
    </div>

}





